[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[include]
	path = ~/.gitconfig.local # user-specific private overrides (like username, email, credentials, etc.)
